# --- Global ---
*.log
*.pot
*.pyc
*.pyo
*~
.DS_Store
Thumbs.db
*.sqlite3
*.sqlite3-journal

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.py,cover
*.pyd
*.pyo
*.sage.py
*.spec
*.manifest
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/
.pytest_cache/
cover/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pdm.toml
__pypackages__/
.pybuilder/
target/
.pyenv
.python-version
.pipenv
.pipfile.lock
.poetry
.poetry.lock
.pdm.lock

# --- Jupyter/IPython ---
.ipynb_checkpoints
profile_default/
ipython_config.py

# --- Virtual Environments ---
.env
.venv
env/
venv/
ENV/

# --- Packaging ---
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/site

# --- Django ---
/backend/climate_insights_backend/*.log
/backend/climate_insights_backend/*.pot
/backend/climate_insights_backend/*.pyc
/backend/climate_insights_backend/__pycache__
/backend/climate_insights_backend/db.sqlite3
/backend/climate_insights_backend/media/
/backend/climate_insights_backend/local_settings.py
/backend/climate_insights_backend/static/
/backend/climate_insights_backend/media/
/backend/climate_insights_backend/*.pem
/backend/climate_insights_backend/*.cer
/backend/climate_insights_backend/*.key
/backend/climate_insights_backend/*.bak
/backend/climate_insights_backend/db.sqlite3-journal
/backend/climate_insights_backend/secret_key.txt

# --- Flask ---
instance/
.webassets-cache

# --- Scrapy ---
.scrapy

# --- Sphinx ---
docs/_build/

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# --- Frontend ---
/frontend/climate_insights_frontend/node_modules/
/frontend/climate_insights_frontend/build/
/frontend/climate_insights_frontend/dist/
/frontend/climate_insights_frontend/.env.local
/frontend/climate_insights_frontend/.env.development.local
/frontend/climate_insights_frontend/.env.test.local
/frontend/climate_insights_frontend/.env.production.local
/frontend/climate_insights_frontend/npm-debug.log
/frontend/climate_insights_frontend/yarn-error.log
/frontend/climate_insights_frontend/coverage
/frontend/logging/logs
/frontend/logging/*.log

# --- MySQL ---
*.sql
*.sql.gz
*.sql.tar.gz
*.cnf
my.cnf
my.ini
*.err
*.bin
*.index
*.relay-log
relay-bin.index
master.info
data/
mysql_data/

# --- Docker ---
docker-compose.yml
*.dockerfile
Dockerfile
.dockerignore

# SSL certificates
/*.pem
/*.cer
/*.key

# --- Continuous Integration/Continuous Deployment ---
ci_cd/

# --- Editor directories and files ---
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# --- Infrastructure as Code ---
*.tfstate
*.tfvars

# --- Cython ---
cython_debug/

# --- Project Specific ---
# Add any custom files/folders for your project here

# --- Python Virtualenv ---
ClimateChangeInsights_dev_py3121